creds.json
all.json
.cache
music/*
unsorted/*
sorted
node_modules
dump
config/playlists/*
config/playlists.json
config/*.json
config/images/artists/*
config/images/albums/*
config/images/songs/*
spottydl
backup/auth.json
