creds.json
auth.json
all.json
artists.json
albums.json
songs.json
.cache
music/*
unsorted/*
sorted
node_modules
dump
config/playlists/*
config/playlists.json
config/*.json
config/images/artists/*
config/images/albums/*
config/images/songs/*
spottydl